div{
    text-align:  center;
}
.active{
    color: #449d44;
}

.ActiveContainer{
    margin-left: 25%;
    margin-right: 25%;
}
input[type = checkbox]{
    vertical-align: middle;
    height: 20px;
    color: #2aabd2;
    background-color: #2aabd2;
}


.drop{
    float: right;
    font-size: 1rem;
    font-weight: bolder;
    text-shadow: 0 1px 0 #fff;
    color: inherit;
    opacity: 1;
}


.close {
    float: right;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    color: red;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.close:focus, .close:hover {
    color: red;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}

#Deleted{
    text-decoration: line-through;
    text-decoration-color: red ;
}


#complete div:nth-child(even) {
    color: #5F5F5F;
    padding: 10px;
}

#complete div:nth-child(odd){
    color: #5CB660;
}


#active div:nth-child(even) {
    color: #5F5F5F;
}

#active div:nth-child(odd) {
    color: saddlebrown;
}




#Deleted div:nth-child(even) {
    color: #5F5F5F;
}

#Deleted div:nth-child(odd){
    color: #ffa84c;
}

